<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <main>
    <nav>
      <span>Select mode</span>
    </nav>
    <nav>
      <a href="/mode/pvp" class="btn">Two players</a>
    </nav>
    <nav>
      <a href="/mode/ai" class="btn">Computer</a>
    </nav>
  </main>
</body>
</html>
