a, span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-decoration: none;
}

aside {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 50%; top: 150px;
  margin-left: -300px;
  background: rgba(240, 240, 240, 0.8);
}

aside span,
aside nav {
  display: block;
  width: 100%;
  text-align: center;
}

aside span {
  height: 65px;
  padding-top: 35px;
}

aside nav a {
  float: left;
  display: block;
  width: 100%;
  height: 65px;
  padding-top: 35px;
  color: teal;
  /*background: rgba(100, 100, 100, 0.1);*/
}

aside nav a:hover {
  background: rgba(100, 100, 100, 0.1);
}

main {
  width: 600px;
  height: 600px;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 5px;
  margin: 0 auto;
}

main nav {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

main nav span,
main nav a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
}

main nav span:before,
main nav a.btn:before {
  content: '';
  display: block;
  height: 78px;
}

main nav a {
  display: block;
  float: left;
  width: 200px;
  background: white;
  text-decoration: none;
  color: teal;
}

main nav a.btn {
  width: 100%;
}

main nav a:hover {
  background: #f8f8f8;
}

main nav a:after {
  display: none;
  font-size: 180px;
}

main nav a.o,
main nav a.x,
main.disable nav a {
  background: white;
  pointer-events: none;
  cursor: default;
}

main nav a:hover:after,
main nav a.o:after,
main nav a.x:after {
  display: block;
}

main.o nav a:hover:after,
main nav a.o:after {
  content: '◯';
  color: blue;
  position: relative;
  top: -36px; left: 1px;
}

main.x nav a:hover:after,
main nav a.x:after {
  content: '✕';
  color: red;
  position: relative;
  top: 15px; left: 2px;
}